<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('menu', {
      open: false,
      toggle() {
        this.open = !this.open;
      },

      openMenu() {
        this.open = true;
      },

      closeMenu() {
        this.open = false;
      }

    })
  })

  // TODO: maybe, maybe, add logic to check the size and only close menu if we go
  // above the breakpoint where it disappears.
  window.addEventListener('resize', () => {
    Alpine.store('menu').closeMenu()
  })
</script>
