<h2>Background</h2>
<p>
  I'm a full-stack web developer and violinist living in New Jersey. My two greatest passions have always been music
  and technology. I build websites that make the web better and make it easier for people to find what they
  are looking for (you!).
</p>

<h2>Mobile First</h2>
<p>
  More and more, people are primarily accessing the web from mobile devices (mostly phones). This
  has been true for years, yet many sites are designed desktop-first, with mobile as an afterthought. My sites are
  all built with mobile users in mind from the beginning. Check out this site on your phone! Everything fits nicely,
  there is a full-screen menu. My website is also very small (&lt;1MB) and simple (minimal javascript), so it will
  still load quickly on weak connections (bad cell service) and slow devices (old phones).
</p>

<h2>Simplicity</h2>
<p>
  I like things to be as straightforward and easy to use and maintain as possible. This is why I tend to build
  "static" or "Jamstack" websites. That basically means we're using the core technologies of the web (HTML, CSS,
  Javascript) first, to get content to users as simply and as quickly as possible.
</p>

<h2>Technologies</h2>
<p>
  My main goal in choosing technologies is to use the right tool for the right job. I want to have all the features
  I need without introducing too much complexity. I also want the smallest, fastest output I can get. I have a whole
  <a href="/blog/posts/2022-06-01-my-stack" class="font-bold text-violet-300 hover:underline selectable">blog post</a>
  on my current stack, if you're as big a nerd as I am.
</p>
