{% import "macros/icons.njk" as icon %}
{% set navPages = collections.all | eleventyNavigation %}
<footer class="w-full py-4 px-4">
  <div class="max-w-md md:max-w-4xl mx-auto w-full">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        <nav class="grid grid-cols-2 mt-2 mb-1 text-white text-center md:text-left" aria-label="sitemap">
          {%- for entry in navPages %}
            <a href="{{ entry.url | url }}"
               class="hover:underline hover:font-medium focus:font-medium focus:outline-none selectable normal-transition">{{ entry.title }}</a>
          {%- endfor %}
        </nav>
      <div class="flex justify-center items-center">
        {% include "components/logo/gray_text.njk" %}
      </div>
      <div class="flex justify-center items-center">
        <a
          class="block text-slate-200 justify-center flex gap-2 hover:underline hover:font-medium focus:font-medium focus:outline-none focus:underline"
          href="https://github.com/rickh94/rickhenry.dev"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/img/icons/GitHub-Mark-Light-64px.png" alt="GitHub Logo" class="h-6"> Website
          Source {{ icon.lookup("external_link") }}
        </a>
      </div>
    </div>
    <div class="text-slate-500 w-full text-center mt-2">
      &#169; 2022 Rick Henry Development
    </div>
  </div>
</footer>
