<a href="/"
   class="z-20 flex text-white font-bold text-xl sm:text-2xl items-center flex-wrap flex-shrink gap-x-[6px] selectable"
   tabindex="0"
>
  <h1>
    <span class="z-20">Rick Henry</span>
    <span class="bg-white text-slate-800 px-1 rounded-sm z-20">Development</span>
  </h1>
  <span class="sr-only">Back to Homepage</span>
</a>
