{% macro service(title, icon, icon_color_class, description, link) %}
  <li class="flex gap-2 px-2 py-3">
    <div aria-hidden="true" class="{{ icon_color_class }} z-20" id="icon-wrapper-{{ title | slugify }}">
      {{ icon | safe }}
    </div>
    <div class="z-20">
      <h2 class="font-bold text-lg block z-20 mb-0" id="service-title-{{ title | slugify }}">{{ title }}</h2>
      <p class="text-slate-100 z-20" id="content-section-{{ title | slugify }}">
        {{ description | safe }}
      </p>
    </div>
  </li>
{% endmacro %}
