{% macro hero_text() %}
<div class="relative max-w-2xl mx-auto px-4 text-center sm:px-6 lg:mt-20">
  <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-6xl">
    <span class="block lg:inline text-shadow">Transparent, Flexible Billing</span>
  </h1>
  <p class="mt-4 text-xl text-indigo-100">Pay all up front or spread it out over six months and get ongoing support.</p>
</div>
{% endmacro %}
