---
layout: layouts/markdown.njk
---
{% import "macros/hero.njk" as hero %}
{{ hero.hero(hero.blog_title(title, snippet), background="rose") }}


<div class="max-w-4xl px-4 mx-auto mt-4 lg:mt-8 markdown blog-post bg-slate-600 bg-opacity-50 py-4 lg:rounded">
  {{ content | safe }}
</div>


