<div class="relative pb-4">
  <div class="absolute -z-10 w-full top-0 xl:h-64 overflow-y-hidden" aria-hidden="true">
    {% include "waves/blue_top_waves1.njk" %}
  </div>
  <div class="max-w-4xl px-4 mx-auto pt-16 xs:pt-32 lg:pt-48">
    {% include "components/contact_form.njk" %}
  </div>
</div>
