---
title: Rick Henry Development
description: Rick Henry Development builds optimized websites for people and business who want to improve their online presence.
layout: layouts/main
eleventyNavigation:
  key: Home
  order: 0
  hideOnDesktop: true
---

{% import "macros/hero.njk" as hero %}
{{ hero.hero(hero.hero_title("I Build Fast Websites", "so you get noticed online") + hero.cta("Get Started", "/get-started"), background="blue") }}
{% include "page_components/index/services_section.njk" %}
{% include "page_components/index/projects_section.njk" %}
{% include "page_components/index/contact_form_section.njk" %}
